<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suji.basic.mapper.rentalMapper">
    <select id="selectRentalBook" parameterType="String">
    	select 
    		rental_num, 
    		to_char(rental_sdate, 'YY-MM-DD') as rental_Sdate_Str,
   		 	to_char(rental_rdate, 'YY-MM-DD') as rental_Rdate_Str,
     		book_code, 
     		mem_id 
     	from rental_book
    	where book_code = #{bookCode}
    </select>
    
   <insert id="rentalBookInsert" parameterType="RentalBookVO">
   		insert into rental_book (
            RENTAL_NUM,
            RENTAL_SDATE,
            RENTAL_RDATE,
            BOOK_CODE,
            MEM_ID
        )
        values (
            #{bookCode} || to_char(sysdate,'YYMMDDHH24MI')||LPAD(rental_num_sequence.NEXTVAL, 3, '0'),
            sysdate,
            sysdate + 7,
            #{bookCode},
            #{memId}
        )
   </insert>
</mapper>